# Writing Functions

## Single return value

Starts with a reminder that you need to return a value not print it. Assigning the output of a print statement to an object results in a NoneType type.

In [ ]:
def exclaim(string):
    """Adds drama to your string."""
    string = string.upper() + "!!!"
    return string


exclaim("Hello")

## Multiple return values

Achieve this by returning tuples of values, which can be assigned by unpacking.

When returning tuple values, you can use either:

`return (a, b)`

or

`return a, b`

A tuple is returned in each case.

In [ ]:
def exclaim_all(string1, string2):
    """Adds drama to 2 strings"""
    string1 = string1.upper() + "!!!"
    string2 = string2.upper() + "!!!"
    strings = (string1, string2)
    return strings

In [ ]:
exclaim_all("foo", "bar")

## Case Study

In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
penguins = sns.load_dataset("penguins")
penguins.head()

In [ ]:
# count the species available within the dataframe
species_count = {}
for species in penguins["species"]:
    if species in species_count.keys():
        species_count[species] += 1
    else:
        species_count[species] = 1
print(species_count)

In [ ]:
# count values in any column
def table(df, colname):
    """Count value frequencies  within a dataframe column."""
    vals = dict()
    for entry in df[colname]:
        if entry in vals.keys():
            vals[entry] += 1
        else:
            vals[entry] = 1
    return vals

In [ ]:
table(penguins, "species")

In [ ]:
table(penguins, "island")

In [ ]:
table(penguins, "sex")